# ============================================================================
# PIHOLE - Environment Variables
# ============================================================================

# Set a Pi-hole web password manually later if desired.
# Server
PIHOLE_DNS_PORT=53
PIHOLE_PORT_WEB=8088
