# ============================================================================
# PIHOLE - Environment Variables
# ============================================================================

PIHOLE_WEBPASSWORD=                              # <GENERATE> openssl rand -hex 32
# Server
PIHOLE_DNS_PORT=53
PIHOLE_PORT_WEB=8091
