# ============================================================================
# PIHOLE - Environment Variables
# ============================================================================

PIHOLE_WEBPASSWORD=${DEFAULT_ADMIN_PASSWORD}
# Server
PIHOLE_DNS_PORT=53
PIHOLE_PORT_WEB=8091
