# ============================================================================
# BYTESTASH - Environment Variables
# ============================================================================

BYTESTASH_JWT_SECRET=                            # <GENERATE> openssl rand -hex 64
BYTESTASH_PORT=3004
