# ============================================================================
# DOCMOST - Environment Variables
# ============================================================================

# Database
DOCMOST_DB_NAME=docmost_db
DOCMOST_DB_USER=docmost
DOCMOST_DB_PASS=                                 # <GENERATE> openssl rand -hex 32
# Security
DOCMOST_SECRET=                                  # <GENERATE> openssl rand -hex 64
# Server
DOCMOST_PORT=8093
