# ============================================================================
# FOCALBOARD - Environment Variables
# ============================================================================

# First user signup becomes admin
FOCALBOARD_PORT=8000
