# ============================================================================
# HOARDER - Environment Variables
# ============================================================================

HOARDER_VERSION=release
HOARDER_NEXTAUTH_SECRET=                         # <GENERATE> openssl rand -hex 64
HOARDER_MEILI_MASTER_KEY=                        # <GENERATE> openssl rand -hex 32
HOARDER_PORT=3002
