# ============================================================================
# N8N - Environment Variables
# ============================================================================
# N8N - Workflow Automation
# ============================================================================

# Authentication
N8N_BASIC_AUTH_ACTIVE=false
# N8N_BASIC_AUTH_USER=${DEFAULT_ADMIN_USER}
# N8N_BASIC_AUTH_PASSWORD=${DEFAULT_ADMIN_PASSWORD}

# Database
N8N_DB_NAME=n8n_db
N8N_DB_USER=${DEFAULT_DB_USER}
N8N_DB_PASS=                                     # <GENERATE> openssl rand -hex 32

# Security
N8N_ENCRYPTION_KEY=                              # <GENERATE> openssl rand -hex 32

# Server
N8N_PORT=5678
N8N_MEMORY_LIMIT=1g
