# ============================================================================
# NOCODB - Environment Variables
# ============================================================================

NOCODB_ADMIN_EMAIL=${DEFAULT_ADMIN_EMAIL}
NOCODB_ADMIN_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
# Database
NOCODB_DB_NAME=nocodb_db
NOCODB_DB_USER=${DEFAULT_DB_USER}
NOCODB_DB_PASS=                                  # <GENERATE> openssl rand -hex 32
# Security Keys
NOCODB_JWT_SECRET=                               # <GENERATE> openssl rand -hex 64
NOCODB_AUTH_JWT_SECRET=                          # <GENERATE> openssl rand -hex 64
# Server
NOCODB_PORT=8084
NOCODB_MEMORY_LIMIT=1g                           # Memory limit for container
