# ============================================================================
# POSTIZ - Environment Variables
# ============================================================================

POSTIZ_ADMIN_EMAIL=${DEFAULT_ADMIN_EMAIL}
POSTIZ_ADMIN_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
# Database
POSTIZ_DB_NAME=postiz_db
POSTIZ_DB_USER=${DEFAULT_DB_USER}
POSTIZ_DB_PASS=                                  # <GENERATE> openssl rand -hex 32
# Security
POSTIZ_NEXTAUTH_SECRET=                          # <GENERATE> openssl rand -hex 64
POSTIZ_JWT_SECRET=                               # <GENERATE> openssl rand -hex 64
# Server
POSTIZ_PORT=5001
