# ============================================================================
# RESOURCESPACE - Environment Variables
# ============================================================================

RESOURCESPACE_DBNAME=resourcespace
RESOURCESPACE_DBUSER=resourcespace
RESOURCESPACE_DBPASS=                            # <GENERATE> openssl rand -hex 32
RESOURCESPACE_DB_ROOT_PASSWORD=                  # <GENERATE> openssl rand -hex 32
RESOURCESPACE_ADMIN_USERNAME=admin
RESOURCESPACE_ADMIN_EMAIL=${DEFAULT_ADMIN_EMAIL}
RESOURCESPACE_ADMIN_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
# Server
RESOURCESPACE_PORT=8099
