# ============================================================================
# RESOURCESPACE - Environment Variables
# ============================================================================

RESOURCESPACE_DB_NAME=resourcespace_db
RESOURCESPACE_DB_USER=resourcespace
RESOURCESPACE_DB_PASS=                           # <GENERATE> openssl rand -hex 32
RESOURCESPACE_DB_ROOT_PASSWORD=                  # <GENERATE> openssl rand -hex 32
# Server
RESOURCESPACE_PORT=8099
