# ============================================================================
# FIREFLY - Environment Variables
# ============================================================================

FIREFLY_APP_KEY=                                 # <GENERATE> openssl rand -base64 32
FIREFLY_PORT=8086
FIREFLY_MEMORY_LIMIT=512m
