# ============================================================================
# MEALIE - Environment Variables
# ============================================================================

# First user signup becomes admin
MEALIE_PORT=9925
MEALIE_MEMORY_LIMIT=512m
