/* Hide the layout toggle button in navbar */
#bighead .navbar-end .navbar-item:has(.fa-columns),
#bighead .navbar-end .navbar-item:has(.fa-list) {
  display: none !important;
}

/* Alternative: hide by position if :has() not supported */
.navbar-end > .navbar-item:last-child {
  display: none !important;
}
