# ============================================================================
# PRIVATEGPT - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
PRIVATEGPT_PORT=8001
