# ============================================================================
# SEARXNG - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
SEARXNG_SECRET_KEY=                              # <GENERATE> openssl rand -hex 64
SEARXNG_PORT=4000
