# ============================================================================
# WHISPER - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
WHISPER_PORT=9001
WHISPERX_PORT=9001
