# ============================================================================
# NETBOX - Environment Variables
# ============================================================================

NETBOX_SUPERUSER=admin
NETBOX_SUPERUSER_EMAIL=admin@example.com
NETBOX_SUPERUSER_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
# Database
NETBOX_DB_PASSWORD=                              # <GENERATE> openssl rand -hex 32
# Security
NETBOX_SECRET_KEY=                               # <GENERATE> openssl rand -hex 64
# Server
NETBOX_PORT=8092
