# ============================================================================
# NETBOX - Environment Variables
# ============================================================================

# Set these explicitly if you want NetBox to create an initial superuser.
NETBOX_SUPERUSER=
NETBOX_SUPERUSER_EMAIL=
NETBOX_SUPERUSER_PASSWORD=
# Database
NETBOX_DB_PASSWORD=                              # <GENERATE> openssl rand -hex 32
# Security
NETBOX_SECRET_KEY=                               # <GENERATE> openssl rand -hex 64
# Server
NETBOX_PORT=8484
