# ============================================================================
# NETDATA - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
NETDATA_PORT=19999
