# ============================================================================
# UPTIME_KUMA - Environment Variables
# ============================================================================

# First user signup becomes admin
UPTIME_KUMA_PORT=3001
