# ============================================================================
# WUD - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
WUD_PORT=3002
WUD_WATCHER_LOCAL_CRON="0 0 * * *"
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=true
# Set to /var/run/docker.sock to enable one-click container updates from WUD UI.
WUD_TRIGGER_DOCKER_LOCAL_SOCKET=/var/run/docker.sock
