# ============================================================================
# WUD - Environment Variables
# ============================================================================

# ---------------------------------------------------------------------------
WUD_AUTH_USER=admin
WUD_AUTH_PASSWORD=${DEFAULT_ADMIN_PASSWORD}
WUD_PORT=3002
