# ============================================================================
# CODER - Environment Variables
# ============================================================================

# Access Configuration
CODER_HTTP_ADDRESS=0.0.0.0:7080
CODER_HTTP_PORT=7080
CODER_ACCESS_URL=http://${HOST_IP}:7080
CODER_HOSTNAME=coder
# Database Configuration
POSTGRES_USER=coder
POSTGRES_PASSWORD=  # <GENERATE> openssl rand -hex 32
POSTGRES_DB=coder
POSTGRES_MEMORY_LIMIT=512m