# ============================================================================
# GITLAB - Environment Variables
# ============================================================================

GITLAB_HTTP_PORT=8929
GITLAB_SSH_PORT=2224
GITLAB_HTTP_PORT_EXTERNAL=88
GITLAB_MEMORY_LIMIT=4g
