# ============================================================================
# GUACAMOLE - Environment Variables
# ============================================================================

# Database
GUACAMOLE_DB_NAME=guacamole_db
GUACAMOLE_DB_USER=guacamole
GUACAMOLE_DB_PASS=                               # <GENERATE> openssl rand -hex 32
# Server
GUACAMOLE_PORT=8090
